/* Typografi */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



/* generel styling */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.html {
  margin: 0;
}

/* generel styling slut */

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: var(--beige);
}


h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue);
}

h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  line-height: 150%;
  max-width: 65ch;
  font-size: 1rem;
  margin: 0;
  color: var(--black);
}

/* variabler */

:root {

  /* Farver */
  --blue: #23377F;
  --red: #E31E24;
  --beige: #EEEDE8;
  --black: #252525;

  /* spacing* */

  --generalSpacing: 1.25rem;
  --mediumSpacing: 2.5rem;
  --largeSpacing: 5rem;
}

/*Header*/

/*Navbar*/

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
}

.header-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  justify-content: center;
  display: flex;
  height: 50px;
  background-color: #23377F;
}

.budskab {
  justify-content: center;
}

/*Header media queries*/

@media screen and (min-width:1024px) {
  .menu {
    display: unset;
  }
  nav ul li {
    font-size: 14px;
    white-space: nowrap;
  }
  .header-burger-menu {
    display: none;
  }
}

/*Header icons*/

.logo img {
  width: 136px;
}

.icons {
  display: flex;
  cursor: pointer;
  gap:20px;
}

.header-user-icon {
  width: 20px;
}

/*Hero Front Page*/

.front-page-hero {
  position: relative;
  text-align: center;
  color: var(--black);
}

.front-page-hero h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.front-page-hero h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: var(--black);
}

.front-page-hero img {
  width: 100%;
}

/*Header slut */

/* footer */

footer {
  width: 100%;
  background-color: #23377F;
  color: white;
  text-align: center;
}

footer section {
  padding-block: 10px;
}

.footer-icons img {
  width: 30px;
  height: 30px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

/*footer slut */

/* hero styling */

.hero {
  position: relative;
  text-align: center;
  color: var(--black);
  padding: 0;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.hero img {
  width: 100%;
  margin: 0;
}

/* Hero burger */
/* inspiration fra: 
https://codepen.io/erikterwan/pen/EVzeRP 
https://css-tricks.com/inclusively-hidden/
*/

@media screen and (min-width:1024px) {
  #burger {
    display: none;
  }
}

#burger input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#burger label {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

#burger ul {
  color: white;
  list-style: none;
  padding: 40px 0 0;
}

#burger li{
  padding-bottom: 20px;
  max-width: 80%;
  margin: 0 auto;
}
#burger li a{
  color: white;
  text-decoration: none;
  font-size: 28px;
}

#burger ul:nth-of-type(2) {
  padding: 0;
}

.ul-seperator {
  display: block;
  height: 2px;
  background-color: rgba(85,128,188, 0.3);
}


#burger div {
  width: 100vw;
  height: 0vh;
  position: fixed;
  top:0;
  right:0;
  background-color: var(--blue);
  z-index: 1;
  padding: 0;
  margin: 0;
  transition: height 0.3s ease;
  overflow: hidden;
}

#burger input:checked ~ div {
  height: 100vh;
}

#burger label span {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 3px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.5s ease; 
}

#burger label span:first-child{
  transform-origin: 0% 0%;
}

#burger label span:last-child {
  transform-origin: 0% 100%;
}

#burger input:checked ~ label span:first-child {
  transform: rotate(45deg);
}

#burger input:checked ~ label span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#burger input:checked ~ label span:last-child {
  transform: rotate(-45deg);
}
/* Hero burger slut */

/* intro-tekst */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro p {
  font-weight: bold;
}


/*main styling*/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
h2 {
  width: 80%;
}

section p,
section h2 {
  display: flex;
}

/* buttons */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-style: none;
  background-color: var(--red);
  color: white;
  font-size: 16px;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  margin-block: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(227, 30, 36, 0.9);
}

.blue-box {
  background-color: var(--blue);
  color: white;
  width: 80%;
  display: flex;
  margin-inline: 10%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.blue-box ul {
  width: 80%;
}

.blue-box p {
  color: white;
  margin-bottom: 20px;
}

.blue-box h2 {
  color: white;
  justify-content: center;
}

.blue-box li {
  margin-bottom: 20px;
}

@media screen and (min-width:768px) {
  .blue-box {
    max-width: 603.2px;
    margin: 0 auto 20px;
  }
}

/* spacing */

.intro {
  padding-block: 30px;
}

h2 {
  margin: 0px 0px 20px;
}

section {
  padding-block: 20px;
}

section img {
  margin-block: 10px;
  width: 100%;
}



/*Entry point */
.entry-points {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--generalSpacing);
  flex-direction: column;
}

.entry-points img {
  margin: 0;
}

.entry-point-om-klubben,
.entry-point-traening,
.entry-point-nyheder,
.entry-point-indmeldelse {
  position: relative;
  text-align: center;
}

.entry-point-om-klubben h1,
.entry-point-traening h1,
.entry-point-nyheder h1,
.entry-point-indmeldelse h1 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  margin: 0;
  color: white;
}

.entry-point-om-klubben::before,
.entry-point-traening::before,
.entry-point-nyheder::before,
.entry-point-indmeldelse::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background: linear-gradient(to top, black, transparent);
  opacity: 0.7;
  z-index: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* entry points desktop */

@media screen and (min-width:768px) {

  .entry-point-om-klubben,
  .entry-point-traening,
  .entry-point-nyheder,
  .entry-point-indmeldelse {
    width: 284px;
    height: 300px;
  }

  .ep-om-klubben-mobile,
  .ep-traening-mobile,
  .ep-nyheder-mobile,
  .ep-indmeldelse-mobile {
    display: none;
  }

  .ep-om-klubben-desktop,
  .ep-traening-desktop,
  .ep-nyheder-desktop,
  .ep-indmeldelse-desktop {
    display: unset;
  }

  .entry-point-om-klubben::before,
  .entry-point-traening::before,
  .entry-point-nyheder::before,
  .entry-point-indmeldelse::before {
    bottom: 0%;
  }

  .entry-point-om-klubben h1,
  .entry-point-traening h1,
  .entry-point-nyheder h1,
  .entry-point-indmeldelse h1 {
    font-size: 32px;
    white-space: nowrap;
  }

  .entry-points {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width:1024px) {
  .entry-points {
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
  }
}

/* indmeldelse */

.pris {
  font-weight: bold;
}

.typiske-spørgsmål p {
  margin-bottom: 10px;
}

.betaling-ved-indmeldelse p {
  margin-bottom: 10px;
}

.aarligt-kontingent p {
  margin-bottom: 10px;
  white-space: nowrap;
}

.betaling p {
  margin-bottom: 10px;
}

.vi-anbefaler ul{
  display: flex;
  flex-direction: column;
}
  

/* indmeldelse media queries */
@media screen and (min-width:768px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-inline: 10%;
  }

  .Indmeldelse-billede1 {
    grid-column: 2/3;
    grid-row: 1/2;

  }

  .Indmeldelse-billede2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .vi-anbefaler {
    grid-column: 1/2;
  }

  .karate-gi {
    grid-row: 1.8/3;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .hero img:last-of-type{
display: flex;
  }

  .hero img:first-of-type{
    display: none;
      }

      .Indmeldelse-billede1 img:last-of-type,.Indmeldelse-billede2 img:last-of-type{
        display:block;
      }
  
      .Indmeldelse-billede1 img:first-of-type,.Indmeldelse-billede2 img:first-of-type{
        display: none;
      }

.karate-gi, .vi-anbefaler {
  align-items: start;
}
.karate-gi *, .vi-anbefaler * {
  width: 90%;
}

}


/* nyheder */
.nyheder-title {
  text-align: center;
}

.nyheder-box h2 {
  width: 100%;
  margin-bottom: 10px;
}

.nyheder-box img {
  padding-block: 10px;
}

button img {
  width: 20px;
}

.filtrer-button button {
  gap: 10px;
  text-align: center;
  display: flex;
}

.button-container {
  display: flex;
  justify-content: center;
}

.filtrer-button {
  width: 80%;
  display: flex;
  
}

/* prakisk information start*/

.kontakt-oplysninger ul,
.bestyrelse ul {
  list-style-type: none;
  padding: 0;
}

.kontakt-oplysninger li,
.bestyrelse li {
  margin-bottom: 10px;
}

/* praktisk information media queries*/
@media screen and (min-width:768px) {

  .kontakt-oplysninger ul {
    width: 273.45px;
  }

  .kontakt-oplysninger h2,
  .bestyrelse h2 {
    width: 273.45px;
  }
}

/* praktisk information slut*/

/* vedtægter start*/

.vedtaegter h2 {
  font-size: 1.5rem;
}

.vedtaegter p {
  margin-bottom: 10px;
}

.vedtaegter h2 {
  margin-top: 20px;
}

/* vedtægter slut*/

/* instruktører start*/
.instruktoer6 p {
  margin-bottom: 20px;
}

@media screen and (min-width:768px) {


  .instruktoer-alle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .instruktoer-alle img {
    width: 100%;
  }

  .instruktoer-container {
    display: flex;
    justify-content: center;
    margin-inline: 10%;
  }

  .instruktoer-alle section {
    width: 80%;
  }

  .instruktoer-alle p {
    width: 100%;
  }

  .instruktoer1, .instruktoer3, .instruktoer5 {
    display: flex;
    justify-self: start;
  }
  .instruktoer2, .instruktoer4, .instruktoer6 {
    display: flex;
    justify-self: end;
  }


  @media screen and (min-width:1024px) {
    .instruktoer-alle {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .instruktoer1, .instruktoer4 {
      display: flex;
      justify-self: start;
    }
    .instruktoer2, .instruktoer5 {
      display: flex;
      justify-self: center;
    }
    .instruktoer3, .instruktoer6 {
      display: flex;
      justify-self: end;
    }
  }

  .instruktoer1-text, .instruktoer2-text, .instruktoer3-text, .instruktoer4-text, .instruktoer5-text, .instruktoer6-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }


  .instruktoe1-img img:last-of-type,.instruktoer2-img img:last-of-type,.instruktoer3-img img:last-of-type,.instruktoer4-img img:last-of-type,.instruktoer5-img img:last-of-type, .instruktoer6-img img:last-of-type{
    display:block;
  }

  .instruktoe1-img img:first-of-type, .instruktoer2-img img:first-of-type,.instruktoer3-img img:first-of-type, .instruktoer4-img img:first-of-type,  .instruktoer5-img img:first-of-type,  .instruktoer6-img img:first-of-type{
    display: none;
  }

 
  }

  /* instruktører slut*/

  /* Nyheder start */

  .nyheder-box {
    border: solid white;
    border-radius: 10px;
    box-shadow: 3px 3px lightgrey;
    padding: 1rem;
    margin: 0 1rem ;
    background-color: white;

  }

  .text-line {
    padding-bottom: 10px;
  }

  /* Nyheder media queries */
  @media screen and (min-width:768px) {
    .filtrer-button {
      position: relative;
    }
  }

  /* Nyheder slut */

  /* Om Ashihara start */
  .text-linje {
    padding-bottom: 10px;
  }

  /* Om ashihara media queries */

  @media screen and (min-width:768px) {
    .grid-template-omashihara {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: auto 500px 500px auto 700px;
      margin-inline: 10%;
    }

    .grid-img1 img, .grid-img2 img, .grid-img3 img, .grid-img4 img{
      max-height: 500px;
      width: 90%;
    }

    .grid-img1, .grid-img4 {
      align-items: end;
    }
    .grid-img2, .grid-img3 {
      align-items: start;
    }

    .grid-img1{
      grid-column: 2/3;
    }

    .omashihara-section1{
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .grid-aand{
      grid-column: 2/3;
      grid-row: 2/5;
    }

    .grid-img3{
      grid-column: 1/2;
      grid-row:3/4;
    }

    .grid-historie{
      grid-column: 1/2;
      grid-row: 4/6;
    }

    .grid-img4{
      grid-column: 2/3;
      grid-row: 4.3/6;
      padding:0;
      min-height: 500px;
    }

    .grid-img4 img{
      margin-top: 0;
    }

    .grid-img1 img:last-of-type,.grid-img2 img:last-of-type,.grid-img3 img:last-of-type,  .grid-img4 img:last-of-type{
      display:block;
    }

    .grid-img1 img:first-of-type, .grid-img2 img:first-of-type,  .grid-img3 img:first-of-type, .grid-img4 img:first-of-type{
      display: none;
    }

    .omashihara-section1 *, .grid-historie *, .grid-aand * {
      align-items: unset;
      width: 90%;
    }
    .omashihara-section1, .grid-historie {
      align-items: start;
    }


    .grid-aand {
      align-items: end;
    }
  }



  /* Om Ashihara Slut */


  /* index */
  .ashihara-kort-fortalt p {
    margin-bottom: 20px;
  }

  .front-page-hero {
    padding: 0;
    margin: 0;
  }

  .front-page-hero img {
    padding: 0;
    margin: 0;
  }

  .budskab {
    padding-left: 2rem;
    font-size: 12px;
  }

  /* media queries til index - forside */


  @media screen and (min-width:768px) {
    p {
      max-width: 65ch;
    }

    h2 {
      max-width: 603.2px;
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    .ashihara-kort-fortalt {
      flex: 1;
    }

    .intro {
      flex: 1;
    }

  .front-page-hero img:last-of-type{
    display: flex;
  }

  .front-page-hero img:first-of-type{
    display: none;
  }
  .budskab{
    font-size: 25px;
  }

  }

  /* index slut */

  /* træning */
  .traeningstider p,
  .Sammenhold p,
  .konkurrencer p,
  .graduering p {
    margin-bottom: 10px;
  }

  .traeningstider-list {
    display: flex;
    flex-direction: column;
  }

  .borntraeningstider,
  .voksentraeningstider {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-block: 10px;
  }

  .born-dag p:first-of-type,
  .voksen-dag p:first-of-type {
    font-weight: bold;
  }

  .born-tid,
  .voksen-tid {
    white-space: nowrap;
    margin-top: 1.5rem;
  }

  /* træning media queries */
  @media screen and (min-width:768px) {
    h1 {
      font-size: 60px;
    }

    .traeningstider-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%;
      margin: 0 auto;
      max-width: 603.2px;
    }

    .borntraeningstider {
      grid-column: 1/2;
      max-width: 300px;
    }

    .voksentraeningstider {
      grid-column: 2/3;
      max-width: 300px;
      justify-self: end;
    }

    .traening-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-inline: 10%;
    }

    .konkurrencer {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .sammenhold p,
    .graduering p,
    .konkurrencer p,
    .sammenhold h2,
    .graduering h2,
    .konkurrencer h2 {
      width: 100%;
    }

    .sammenhold,
    .graduering,
    .traening-billede2 {
      padding-right: 20px;
    }

    .konkurrencer,
    .traening-billede1,
    .traening-billede3 {
      padding-left: 20px;
    }

    .traening-billede1 img:last-of-type,.grid-img2 img:last-of-type,.grid-img3 img:last-of-type,  .grid-img4 img:last-of-type, .traening-billede2 img:last-of-type,.grid-img2 img:last-of-type,.grid-img3 img:last-of-type,  .grid-img4 img:last-of-type,  .traening-billede3 img:last-of-type,.grid-img2 img:last-of-type,.grid-img3 img:last-of-type,  .grid-img4 img:last-of-type{
      display:block;
    }
  
    .traening-billede1 img:first-of-type, .grid-img2 img:first-of-type,  .grid-img3 img:first-of-type, .grid-img4 img:first-of-type, .traening-billede2 img:first-of-type, .grid-img2 img:first-of-type,  .grid-img3 img:first-of-type, .grid-img4 img:first-of-type,  .traening-billede3 img:first-of-type, .grid-img2 img:first-of-type,  .grid-img3 img:first-of-type, .grid-img4 img:first-of-type{
      display: none;
    }

  }

  /* Om klubben start */
  /* om klubben media queries */
  @media screen and (min-width:768px){
  .cheftraener {
    display: flex;
    flex-direction: row;
  }

  .cheftraenerImg img:first-of-type,  .socialEngagementImg img:first-of-type {
    display: none;
  }

  .cheftraenerImg img:last-of-type, 
  .socialEngagementImg img:last-of-type {
    display: flex;
  }

  .social-engagement, .cheftraener {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .social-engagement p, .social-engagement h2, .cheftraener p, .cheftraener h2 {
    width: 90%;
  }
  
  /* .cheftraenerImg, .socialEngagementImg {
    align-items: flex-end;
  } */
}