/* Typografi */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



/* generel styling */

*, *::after, *::before {
    box-sizing: border-box;
}
.html {
  margin: 0;
}

/* generel styling slut */

body {
font-family: 'Lato', sans-serif;
margin: 0;
background-color: var(--beige);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue) ;
}

h3, h4, h5, h6 {
font-size: 1rem;
font-weight: bold;
}

p {
    line-height: 150%;
    max-width: 65ch;
    font-size: 1rem;
    margin: 0;
    color: var(--black);
}

/* variabler */

:root {
  
  /* Farver */
    --blue:#23377F;
    --red:#E31E24;
    --beige:#EEEDE8;
    --black:#252525;

  /* spacing* */

    --generalSpacing:1.25rem;
    --mediumSpacing:2.5rem;
    --largeSpacing:5rem;
}

/*Header*/

/*Navbar*/

.menu ul{
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
}

.header-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  justify-content: center;
  display: flex;
  height: 50px;
  background-color: #23377F;
}

/*Header icons*/

.icons {
  display: flex;
}

.header-user-icon, .header-burger-menu {
  margin-left: 20px;
  width: 17px;
}

/*Hero Front Page*/

.front-page-hero {
  position: relative;
  text-align: center;
  color: var(--black);
}

.front-page-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.front-page-hero img {
  width: 100%;
}

/*Header slut */


/* hero styling */

.hero {
  position: relative;
  text-align: center;
  color: black;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.hero img {
  width: 100%;
}

/* intro-tekst */

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro p{
  font-weight: bold;
}


/*main styling*/
section {
  width: 100%;
}
p, h2 {
  width: 80%;
}

/* indmeldelse */

/* Footer */

footer {
  width: 100%;
  background-color: #23377F;
  color: white;
  text-align: center;
}

footer section {
  padding-block: 10px;
}

footer img {
  width: 30px;
  height: 30px;
}


section img{
  width: 100%;
}

/* prakisk information start*/

.kontaktOplysninger li, .bestyrelse li {
  list-style-type: none; 
}

.kontaktOplysninger ul, .bestyrelse ul {
  padding: 0;
}

/* praktisk information slut*/

