/* Typografi */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



/* generel styling */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.html {
  margin: 0;
}

/* generel styling slut */

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: var(--beige);
}


h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue);
}

h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  line-height: 150%;
  max-width: 65ch;
  font-size: 1rem;
  margin: 0;
  color: var(--black);
}

/* variabler */

:root {

  /* Farver */
  --blue: #23377F;
  --red: #E31E24;
  --beige: #EEEDE8;
  --black: #252525;

  /* spacing* */

  --generalSpacing: 1.25rem;
  --mediumSpacing: 2.5rem;
  --largeSpacing: 5rem;
}

/*Header*/

/*Navbar*/

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
}

.header-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  justify-content: center;
  display: flex;
  height: 50px;
  background-color: #23377F;
}

/*Header icons*/

.icons {
  display: flex;
}

.header-user-icon,
.header-burger-menu {
  margin-left: 20px;
  width: 17px;
}

/*Hero Front Page*/

.front-page-hero {
  position: relative;
  text-align: center;
  color: var(--black);
}

.front-page-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.front-page-hero img {
  width: 100%;
}

/*Header slut */


/* hero styling */

.hero {
  position: relative;
  text-align: center;
  color: black;
  padding: 0;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.hero img {
  width: 100%;
  margin: 0;
}

/* intro-tekst */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro p {
  font-weight: bold;
}


/*main styling*/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
h2 {
  width: 80%;
}

section p,
section h2 {
  display: flex;
}

/* buttons */
.buttons {
  display: flex;
  flex-direction: column;
}

button {
  border-style: none;
  background-color: var(--red);
  color: white;
  font-size: 16px;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  margin-block: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(227, 30, 36, 0.9);
}

.blue-box {
  background-color: var(--blue);
  color: white;
  width: 80%;
  display: flex;
  margin-inline: 10%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.blue-box ul {
  width: 80%;
}

.blue-box p {
  color: white;
}

.blue-box h2 {
  color: white;
}

.blue-box li {
  margin-bottom: 20px;
}

/* spacing */

.intro {
  padding-block: 30px;
}

h2 {
  margin: 0px 0px 20px;
}

section {
  padding-block: 20px;
}

section img {
  margin-block: 10px;
  width: 100%;
}



/*Entry point */
.entry-points {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--generalSpacing);
  flex-direction: column;
}

.entry-point-om-klubben,
.entry-point-traening,
.entry-point-nyheder,
.entry-point-indmeldelse {
  position: relative;
  text-align: center;
}

.entry-point-om-klubben h1,
.entry-point-traening h1,
.entry-point-nyheder h1,
.entry-point-indmeldelse h1 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  margin: 0;
  color: white;
}

.entry-point-om-klubben::before,
.entry-point-traening::before,
.entry-point-nyheder::before,
.entry-point-indmeldelse::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 125px;
  background: linear-gradient(to top, black, transparent);
  opacity: 0.7;
  z-index: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* entry points desktop */

@media screen and (min-width:768px) {

  .entry-point-om-klubben,
  .entry-point-traening,
  .entry-point-nyheder,
  .entry-point-indmeldelse {
    width: 284px;
    height: 300px;
  }

  .ep-om-klubben-mobile,
  .ep-traening-mobile,
  .ep-nyheder-mobile,
  .ep-indmeldelse-mobile {
    display: none;
  }

  .ep-om-klubben-desktop,
  .ep-traening-desktop,
  .ep-nyheder-desktop,
  .ep-indmeldelse-desktop {
    display: unset;
  }

  .entry-point-om-klubben::before,
  .entry-point-traening::before,
  .entry-point-nyheder::before,
  .entry-point-indmeldelse::before {
    top: 62%;
  }

  .entry-point-om-klubben h1,
  .entry-point-traening h1,
  .entry-point-nyheder h1,
  .entry-point-indmeldelse h1 {
    font-size: 32px;
    white-space: nowrap;
  }

  .entry-points {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

/* indmeldelse */

.pris {
  font-weight: bold;
}

.typiske-spørgsmål p {
  margin-bottom: 10px;
}

.betaling-ved-indmeldelse p {
  margin-bottom: 10px;
}

.aarligt-kontingent p {
  margin-bottom: 10px;
  white-space: nowrap;
}

.betaling p {
  margin-bottom: 10px;
}

.vi-anbefaler ul {
  display: flex;
  flex-direction: column;
}


/* indmeldelse media queries */
@media screen and (min-width:768px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-inline: 10%;
  }

  .Indmeldelse-billede1 {
    grid-column: 2/3;
    grid-row: 1/2;

  }

  .Indmeldelse-billede2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .vi-anbefaler {
    grid-column: 1/2;
  }

  .karate-gi {
    grid-row: 1.8/3;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .hero img:last-of-type {
    display: flex;
  }

  .hero img:first-of-type {
    display: none;
  }

}


/* nyheder */
.nyheder-title {
  text-align: center;
}

.nyheder-box h2 {
  width: 100%;
  margin-bottom: 10px;
}

.nyheder-box img {
  padding-block: 10px;
}

button img {
  width: 20px;
}

.filtrer-button button {
  gap: 10px;
  margin-left: 5%;
  text-align: center;
  display: flex;
}

.filtrer-button {
  width: 80%;
  display: flex;
}

/* prakisk information start*/

.kontakt-oplysninger ul,
.bestyrelse ul {
  list-style-type: none;
  padding: 0;
}

.kontakt-oplysninger li,
.bestyrelse li {
  margin-bottom: 10px;
}

/* praktisk information accordion */

input[type="checkbox"] {
  display: none;
}

label {
  display: block;
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 80%;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.vedtaegter-accordion p {
  display: none;
  padding: 10px 20px;
  margin: 0;
  border: 2px solid var(--blue);
  background-color: white;
  font-weight: bold;
  border-radius: 0 0 8px 8px;
}

input[type="checkbox"]:checked+label+p {
  display: block;
}

/* praktisk information media queries*/
@media screen and (min-width:768px) {
  .menu {
    display: block;
  }

  .header-burger-menu {
    display: none;
  }

  .kontakt-oplysninger ul {
    width: 273.45px;
  }

  .kontakt-oplysninger h2,
  .bestyrelse h2 {
    width: 273.45px;
  }
}

/* praktisk information slut*/

/* vedtægter start*/

.vedtaegter h2 {
  font-size: 1.5rem;
}

.vedtaegter p {
  margin-bottom: 10px;
}

.vedtaegter h2 {
  margin-top: 20px;
}

/* vedtægter slut*/

/* instruktører start*/
.instruktoer6 p {
  margin-bottom: 20px;
}

@media screen and (min-width:768px) {
  .menu {
    display: block;
  }

  .instruktoer-alle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .instruktoer-alle img {
    width: 100%;
  }

  .instruktoer-container {
    display: flex;
    justify-content: center;
    margin-inline: 10%;
  }

  .instruktoer-alle section {
    width: 80%;
    margin: 0 auto;
  }

  .instruktoer-alle p {
    width: 100%;
  }

  @media screen and (min-width:1024px) {
    .instruktoer-alle {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

  .header-burger-menu {
    display: none;
  }

  /* instruktører slut*/

  /* Nyheder start */

  .nyheder-box {
    border: solid white;
    border-radius: 10px;
    box-shadow: 3px 3px lightgrey;
    padding: 1rem;
    margin: 1rem;
    background-color: white;

  }

  .text-line {
    padding-bottom: 10px;
  }

  /* Nyheder media queries */
  @media screen and (min-width:768px) {
    .filtrer-button {
      position: relative;
      left: 10rem;
    }
  }

  /* Nyheder slut */

  /* Om Ashihara start */
  .text-linje {
    padding-bottom: 10px;
  }

  /* Om ashihara media queries */

  @media screen and (min-width:768px) {
    .grid-template-omashihara {

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 23% 10% 10% 40% 10%;
      margin-inline: 10%;
    }

    .omashihara-section1 {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .grid-aand {
      grid-column: 2/3;
      grid-row: -5/-2;
    }

    .grid-img4 {
      grid-column: 2/3;
      grid-row: -2/-1;
    }

    .grid-img1 img:last-of-type {
      display: flex;
    }

    .grid-img1 img:first-of-type {
      display: none;
    }
  }




  /* Om Ashihara Slut */


  /* index */
  .ashihara-kort-fortalt p {
    margin-bottom: 20px;
  }

  .front-page-hero {
    padding: 0;
    margin: 0;
  }

  .front-page-hero img {
    padding: 0;
    margin: 0;
  }

  .budskab {
    padding-left: 2rem;
    font-size: 12px;
  }

  /* media queries til index - forside */


  @media screen and (min-width:768px) {
    p {
      max-width: 65ch;
    }

    h2 {
      max-width: 603.2px;
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    .ashihara-kort-fortalt {
      flex: 1;
    }

    .intro {
      flex: 1;
    }

    .front-page-hero img:last-of-type {
      display: flex;
    }

    .front-page-hero img:first-of-type {
      display: none;
    }

    .budskab {
      font-size: 25px;
    }

  }

  /* index slut */

  /* træning */
  .traeningstider p,
  .Sammenhold p,
  .konkurrencer p,
  .graduering p {
    margin-bottom: 10px;
  }

  .traeningstider-list {
    display: flex;
    flex-direction: column;
  }

  .borntraeningstider,
  .voksentraeningstider {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-block: 10px;
  }

  .born-dag p:first-of-type,
  .voksen-dag p:first-of-type {
    font-weight: bold;
  }

  .born-tid,
  .voksen-tid {
    white-space: nowrap;
    margin-top: 1.5rem;
  }

  /* træning media queries */
  @media screen and (min-width:768px) {
    h1 {
      font-size: 60px;
    }

    .traeningstider-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%;
      margin-inline: 10%;
      justify-items: center;
      align-items: start;
    }

    .borntraeningstider {
      grid-column: 1/2;
      max-width: 300px;
    }

    .voksentraeningstider {
      grid-column: 2/3;
      max-width: 300px;
    }

    .traening-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-inline: 10%;
    }

    .konkurrencer {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .sammenhold p,
    .graduering p,
    .konkurrencer p,
    .sammenhold h2,
    .graduering h2,
    .konkurrencer h2 {
      width: 100%;
    }

    .sammenhold,
    .graduering,
    .traening-billede2 {
      padding-right: 20px;
    }

    .konkurrencer,
    .traening-billede1,
    .traening-billede3 {
      padding-left: 20px;
    }

    .cheftraener {
      display: flex;
      flex-direction: row;
    }

    .cheftraenerImg img:first-of-type {
      display: none;
    }

    .cheftraenerImg img:last-of-type {
      display: flex;
    }

    .socialEngagementImg img:first-of-type {
      display: none;
    }

    .socialEngagementImg img:last-of-type {
      display: flex;
    }

    .social-engagement {
      display: flex;
      flex-direction: row;
    }

  }


  /* Footer */

  footer {
    width: 100%;
    background-color: #23377F;
    color: white;
    text-align: center;
  }

  footer section {
    padding-block: 10px;
  }

  footer img {
    width: 30px;
    height: 30px;
  }


  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}